// * Colors
$color-white: #fff;
$color-white-2: #e5e5e5;
$color-white-3: #fafafa;
$color-white-4: #F9F7F2;
$color-white-5: #F6F6F6;
$color-black: #000;
$color-black-2: #14142B;
$color-yellow: #F9B949;
$color-red: #FF2E00;
$color-orange: #FF5C00;
$color-yellow-2: #FF9E02;

// * Background Colors
$bg-grey:rgba(0, 0, 0, 0.3);

// * Sizes
$border-radius-1: 22px;
$border-radius-2:0px 0px 10px 10px;


