.header {
    background-color: $color-white;
    width: 100%;
    .navbar {
        @include flex(space-between, center, row);
        width: 100%;
        padding: 34px 0;
        @media only screen and (max-width: 1300px){
            padding: 34px;
        }
        @include responsive(lg){
            padding: 30px 10px;   
        }
        @include responsive(xs){
         padding: 18px 10px; 
        }

        &__nav {
            @include flex(space-between, center, row);
        }

        &__language {
            @include flex(space-between, center, row);

            span {
                margin-left: 8px;
            }
        }
        &__menu-icon{
            display: none;
            font-size: 20px;
            @include responsive(sm){
             display: block;   
            }
        }

        &__logo {
            @include flex(space-between, center, row);
            z-index: 150;

            h3 {
                font-family: "Muller-Medium", sans-serif;
                position: relative;
                @include flex(center, center, row);
                text-align: center;

                &::after {
                    content: "";
                    position: absolute;
                    height: 1.1px;
                    background-color: #000;
                    width: 40%;
                    bottom: -2px;
                    margin: 0 auto;
                    font-weight: 300
                }
            }
        }

        &__icons {
            @include flex(space-between, center, row);
            @include responsive(sm){
                display: none;
            }
        }

        &__icon {
            @include flex(center, center, row);
            width: 17px;
            height: 17px;
            margin-left: 32px;
            @include responsive(lg){
            margin-left: 40px;
            }

            &:first-child {
                margin-right: 24px;
                @include responsive(lg){
            margin-right: 10px;
                }
                @include responsive(sm){
                    margin: 0;
                }
            }
        }
    }
}