// * Brand section styles
.brand {
    &__cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        @include responsive(lg){
         grid-gap: 20px;   
        }
        @include responsive(md){
            grid-template-columns: repeat(4,1fr);
        }
        @include responsive(sm){
            grid-gap: 10px;
            grid-template-columns: repeat(3,1fr);
        }
        @include responsive(xxs){
            grid-template-columns: repeat(2,1fr);
        }
        
        
    }
    
    &__card {
        &:first-child {
            background-color: $color-white-4;
        }
        width: 100%;
        background-color: $color-white-3;
        height: 200px;
        text-align: center;
        @include flex(center, center, row);
        
        @include responsive(xxxs){
            height: 170px;
        }
    }
}

// * Arrivals section styles
.arrivals {
    &__cards {
        @include flex(center, center, row);
        @include responsive(sm){
            flex-wrap: wrap;
        }
    }

    &__card {
        position: relative;
        flex: 1;
        height: 400px;
        padding: 20px;
        overflow: hidden;
        @include responsive(lg){
         height: 380px;   
        }
        @include responsive(md){
            height: 320px;
        }
        @include responsive(sm){
            flex: 1 1 50%;
            padding: 10px;
            &:nth-child(2){
                order: 2;
            }
        }
        @include responsive(xs){
            flex: 1 1 100%;
        }


        &-imgbox {
            width: 100%;
            height: 100%;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: $bg-grey;
            width: 0%;
            height: 0%;
            @include flex(center, center, row);
            @include transition(all, .6s, ease-in-out);
            &:hover {
                cursor: pointer;
            }
        }

        &:hover .arrivals__card-overlay {
            height: 100%;
            width: 100%;
            z-index: 11;
        }

    }
}