.footer__form {
    width: 100%;
    margin-bottom: 38px;
    @include responsive(md){
        margin-bottom: 30px;
    }
    input {
        width: 100%;
        font-size: 14px;
        padding: 20px 0 20px 16px;
        border: 1px solid $color-black;
        background-color: transparent;
        &:focus{
            outline: none;
        }
        @include responsive(lg){
         padding: 18px 0 18px 16px;   
        }
        @include responsive(md){
            padding: 14px 0 14px 16px;
        }
    }

    button {
        padding: 20px 4.7rem 20px 4.7rem;
        border: 1px solid $color-black; 
        background-color: $color-black;
        color: $color-white;
        &:hover{
            border-radius: 0;
        }
        @include responsive(lg){
         padding: 18px 4.2rem;   
        }
        @include responsive(md){
            padding: 14px 3rem;
        }
        @include responsive(xs){
            padding: 14px 1rem;
        }
    }
}