body {
    color: $color-black;
    font-size: 16px;
}

h1 {
    font-size: 3rem ;
    line-height: 48px;
    @include responsive(xxs){
        font-size: 2.5rem;
    }
    @include responsive(ss){
        font-size: 2.2rem;
    }
}
h1,h2,h3{
    font-weight: 500;
}
h2{
    font-size: 2.25rem;
    line-height: 36px;
    @include responsive(sm){
          font-size: 2rem;
    }
    @include responsive(xs){
          font-size: 1.8rem;
    }
}
h3 {
    font-size: 1.5rem ;
    line-height: 24px;
    @include responsive(lg){
     font-size: 1.4rem;       
    }
    @include responsive(xxxs){
          font-size: 1.2rem;
    }
}

h4 {
    font-size: 1.12rem ;
    line-height: 18px;
    font-weight: 400;
}
button {
    font-size: 1.12rem ;
    line-height: 18px;
    @include responsive(xs){
     font-size: 1rem;     
    }
}

p,
span {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    font-family: "Muller-Light";
}

a {
    text-decoration: none ;
    font-size: 1rem ;
    line-height: 16px;
    color: $color-black;
}