// * Main section styles
.main {
    background-image: url("/image/home/header/header-main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba($color: #000000, $alpha: .5);
    background-blend-mode: color;
    height: 75vh;
    width: 100%;

    @media only screen and (max-width: 1300px) {
        height: 80vh;
    }

    @include responsive(lg) {
        height: 75vh;
    }

    @include responsive(sm) {
        height: 70vh;
    }

    @include responsive(xs) {
        height: 90vh;
        background-position: 18%;
    }

    @include responsive(xxxs) {
        height: 75vh;
    }

    @include responsive(xxs) {
        bottom: 35px;
    }

    .container {
        height: 100%;
        position: relative;
    }

    &__content {
        @include flex(space-between, center, row);
        position: absolute;
        bottom: 50px;
        width: 100%;

        @media only screen and (max-width: 1300px) {
            padding: 0 50px;
        }

        @include responsive(lg) {
            padding: 0;
        }

        @include responsive(sm) {
            padding: 0 30px;
        }

        @include responsive(xxs) {
            flex-direction: column;
            padding: 0;
        }

        &-buttons {
            @include flex(space-between, center, row);

            @include responsive(xxs) {
                margin-top: 20px;
                width: 90%;
            }

            @include responsive(ss) {
                width: 95%;
            }

            button {
                @include responsive(xxs) {
                    width: 50%;
                }

                &:first-child {
                    margin-right: 48px;

                    @include responsive(lg) {
                        margin-right: 35px;
                    }

                    @include responsive(sm) {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

// * Banner section styles
.banner {
    background-color: #e5e5e54a;
    padding: 52px 0 96px 0;

    @include responsive(xs) {
        padding: 30px 0 0 0;
    }

    &__content {
        @include flex(space-between, center, column);
    }

    &__box {
        height: 450px;
        background-color: $color-white;
        @include flex(space-between, center, row);

        @include responsive(lg) {
            height: 430px;
        }

        @include responsive(sm) {
            height: 370px;
        }

        @include responsive(xs) {
            &:first-child {
                flex-direction: column-reverse
            }

            &:last-child {
                flex-direction: column
            }

            margin-bottom: 20px;
            height: auto;
            padding-bottom: 20px;
        }

        &-info {
            @include flex(center, center, column);
            flex: 2;
            padding: 0 65px;
            text-align: center;

            @include responsive(lg) {
                padding: 0 50px;
            }

            @include responsive(sm) {
                flex: 1;
                padding: 0 10px;
            }

            h2 {
                line-height: 150%;
                margin-bottom: 46px;

                @include responsive(xs) {
                    margin-bottom: 20px;
                }
            }

        }
        &-img {
            flex: 4;
            width: 100%;
            height: 100%;
            @include responsive(xs){
                margin-bottom: 20px;
            }

            @include responsive(xxs) {
                flex: 1;
            }

            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }

}
// * Brand section styles
.brand {
    padding: 66px 0 120px 0;
    background-color: $color-white-3;
    @include responsive(xs){
        padding: 50px 0 20px 0;
    }

    &__content {
        @include flex(space-between, center, column);
        width: 100%;

        &-top {
            @include flex(space-between, flex-start, row);
            width: 100%;
            margin-bottom: 55px;
            @include responsive(xs){
                margin-bottom: 30px;
            }
        }

        &-icons {
            @include flex(space-between, center, row);

            img {
                width: 52px;
                height: 52px;

                &:first-child {
                    margin-right: 24px;
                }
            }
        }
    }
}

// * Arrivals section styles
.arrivals {
    padding: 40px 0 45px 0;
    background-color: $color-white-3;
    @include responsive(sm){
        padding: 20px 0;
    }

    &__content {
        @include flex(center, flex-start, column);

        &-top {
            @include flex(flex-start, flex-start, column);
            margin-bottom: 46px;
        }
    }

    &__title {
        margin-bottom: 14px;
    }

    &__subtitle {
        @include flex(space-between, center, row);

        img {
            margin-right: 16.5px;
        }
    }
}